Source: https://www.youtube.com/watch?v=w2GglmYHfmM&list=WL&index=344

Categorical Data are 2 Types: 1) Nominal 2) Ordinal(Order Based data)

Nominal Data Encoding Technique: OneHotEncoding

Ordinal Data Encoding Technique: LabelEncoding and OrdinalEncoding

______________________________________________________________________________________

**********Apply Ordinal Ecoder to make priorities order wise

Import Libraries

In [2]:
import numpy as np
import pandas as pd

Include Dataset using pandas

In [3]:
df = pd.read_csv('Purchased.csv')

Check Data Types

In [90]:
df.dtypes

Age           int64
Gender       object
Review       object
Education    object
Purchased    object
dtype: object

Dataset Head Count

In [61]:
df.head()

   Age  Gender Review Education Purchased
0   54    Male   good        UG        No
1   65  Female    avg        PG       yes
2   12    Male    avg    School       yes
3   54  Female   good        UG        No
4   68    Male    avg        UG       yes

Dataset Tail Count

In [62]:
df.tail()

    Age  Gender Review Education Purchased
8    95  Female   poor    School       yes
9    35  Female   good    School       yes
10   15    Male    avg        PG        No
11   35  Female   good    School        No
12   65    Male   good        PG       yes

To Viw Which are Entities in the Column

In [63]:
df['Review'].unique()

array(['good', 'avg', 'poor'], dtype=object)

To View Which and How Many Entities in the Column

In [65]:
df['Review'].value_counts()

Review
good    7
avg     4
poor    2
Name: count, dtype: int64

Will Apply Ordinal Encoding on 'Review' and 'Education' and Will Apply Label Encoding on 'Purchased'

Split Dataset for Apply Encoding Technique

In [5]:
sp_df = df.iloc[:, 2:]
sp_df.head()

  Review Education Purchased
0   good        UG        No
1    avg        PG       yes
2    avg    School       yes
3   good        UG        No
4    avg        UG       yes

Splited Column prepear for Train and Test

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(sp_df.iloc[:, 0:2], sp_df.iloc[:,-1], test_size = 0.2)

In [34]:
X_train

   Review Education
1     avg        PG
12   good        PG
3    good        UG
4     avg        UG
2     avg    School
11   good    School
0    good        UG
7    good        UG
6    good        UG
5    poor    School

In [35]:
X_test

   Review Education
9    good    School
8    poor    School
10    avg        PG

In [36]:
y_train

1     yes
12    yes
3      No
4     yes
2     yes
11     No
0      No
7      No
6     yes
5      No
Name: Purchased, dtype: object

In [37]:
y_test

9     yes
8     yes
10     No
Name: Purchased, dtype: object

Apply Ordinal Encoder. Here is the order goes from low to high Exampl: 'poor' =0, 'avg' =1, 'good' =2

In [82]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [['poor', 'avg', 'good'], ['School', 'UG', 'PG']])
#oe.fit(X_train)

Fit and Transform with Ordinal Encoder

In [83]:
X_train = oe.fit_transform(X_train)
X_test = oe.fit_transform(X_test)

In [78]:
X_train

array([[2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [1., 2.]])

In [43]:
X_test

array([[2., 0.],
       [0., 0.],
       [1., 2.]])

In [45]:
oe.categories_

[array(['poor', 'avg', 'good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [89]:
sp_df.dtypes

Review       object
Education    object
Purchased    object
dtype: object

____________________________________________________________________________________

**********Apply Label Encoder

Apply Label Encoder on Targey/Output Column. **Note: Label Encoder always use for Targey/Output Column.

In [84]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#le.fit(y_train)

In [86]:
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)

In [87]:
y_train

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1])

In [60]:
y_test

array([1, 1, 0], dtype=int64)

In [88]:
le.classes_

array(['No', 'yes'], dtype=object)