After Apply Single or Multiple Encoder then Use 'ColumnTransformer' of sklearn.compose to concatinate all the columns

In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [12]:
df = pd.read_csv('Column_Transformation.csv')
df.head(10)
#df.isnull().sum()

   Age  Gender   Fever   Cough     City Has_Covid
0   29  female  1997.0    Mild  Kolkata       Yes
1   19    male  2006.0  Strong    Dehli        No
2   17    male  1998.0  Strong   Mumbai       Yes
3   26    male  2010.0    Mild    Dehli       Yes
4   32    male  2013.0  Strong  Chennai        No
5   16  female     NaN    Mild  Kolkata       Yes
6   21  female  2006.0    Mild    Dehli        No
7   26  female  2017.0    Mild   Mumbai        No
8   32  female  2009.0  Strong    Dehli       Yes
9   25    male  1997.0  Strong  Chennai        No

Train and Test Model

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['Has_Covid']), df['Has_Covid'], test_size = 0.2)

In [6]:
X_train.head()

    Age  Gender   Fever   Cough     City
3    26    male  2010.0    Mild    Dehli
44   16  female  2009.0  Strong  Chennai
43   37    male  2005.0  Strong    Dehli
45   24    male     NaN    Mild  Kolkata
40   25  female  2002.0    Mild  Kolkata

Filled up missing Values using Mean

In [7]:
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['Fever']])
X_test_fever = si.fit_transform(X_test[['Fever']])

In [13]:
X_train_fever.shape

(39, 1)

Apply Column Tranformation using sklearn.compose

In [9]:
from sklearn.compose import ColumnTransformer
CT = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['Fever']),
    ('tnf2', OrdinalEncoder(categories = [['Mild', 'Strong']]), ['Cough']),
    ('tnf3', OneHotEncoder(sparse=False, drop='first'), ['Gender', 'City'])
], remainder='passthrough')

Fit Transform

In [10]:
CT.fit_transform(X_train)

E:\python\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[2.01000000e+03, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.60000000e+01],
       [2.00900000e+03, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.60000000e+01],
       [2.00500000e+03, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.70000000e+01],
       [2.00144118e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 2.40000000e+01],
       [2.00200000e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 2.50000000e+01],
       [2.00600000e+03, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.90000000e+01],
       [1.99700000e+03, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.70000000e+01],
       [2.01400000e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.10000000e+01],
       [2.00600000e+03, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.80000000e+01],
       [2.01300000e+03, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.20000000e+01],
       [1.99100000e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 4.50000000e+01],
       [1.99700000e+03, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.00000000e+01],
       [1.98900000e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 2.60000000e+01],
       [1.99800000e+03, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 1.70000000e+01],
       [1.99700000e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 2.90000000e+01],
       [2.00000000e+03, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 2.50000000e+01],
       [2.00100000e+03, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.30000000e+01],
       [1.98200000e+03, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.30000000e+01],
       [1.99700000e+03, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.50000000e+01],
       [2.00144118e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.60000000e+01],
       [1.98800000e+03, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 5.90000000e+01],
       [2.01700000e+03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 2.60000000e+01],
       [1.99400000e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 2.30000000e+01],
       [2.00900000e+03, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.20000000e+01],
       [2.00300000e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 1.90000000e+01],
       [2.01300000e+03, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.80000000e+01],
       [2.00400000e+03, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 6.50000000e+01],
       [1.99000000e+03, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.60000000e+01],
       [2.01000000e+03, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.90000000e+01],
       [2.00100000e+03, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.20000000e+01],
       [2.00144118e+03, 1.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 3.70000000e+01],
       [2.00600000e+03, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.40000000e+01],
       [2.00144118e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.60000000e+01],
       [1.98700000e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 8.90000000e+01],
       [2.00144118e+03, 0.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.30000000e+01],
       [2.00200000e+03, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.40000000e+01],
       [2.00500000e+03, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.40000000e+01],
       [2.01100000e+03, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 7.50000000e+01],
       [1.99500000e+03, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 2.30000000e+01]])

Transform with Shape

In [14]:
CT.transform(X_test).shape

(10, 7)