Source: https://www.youtube.com/playlist?list=PLjVLYmrlmjGe-xLyoCdDrt8Nil1Alg_L3

Machine Learning Start from 25/09/2023 at 7:00 PM

Types of machine learning: Supervised, Unsupervised, and Reinforcement Learning.

1. Data Collection (Raw Data)
2. Data Preparation (Exploration)
3. Data Wrangling (Cleaning, Converting, and Usable Formating)
4. Data Modeling (Select Algorithms for Training)
5. Model Training
6. Model Test (Verification)
7. Model Deployment

Weak AI = Machine Learning >> Algorithms 
Strong AI = Deep Learning >> Multilear Neural Network

Types of Dataset: 1. Numerical Data, 2. Categorical Data, 3. Ordinal Data

Steps of Data Pre-Processing ro Exploratory Data Analysis (EDA):
1. Collecting Dataset
2. Import Python Libraries. Example: Numpy, Pandas, Matplotlib, Seaborn
3. Include Dataset in CSV Format
4. Find and Manage Null Values
5. Label Encoding for Categorical/Group Data. Example: Gender = Male, Female
6. Split Dataset for Train and Test
7. Feature Scaling

In [4]:
import numpy as np
import pandas as pd

#https://github.com/mwaskom/seaborn-data

In [7]:
df = pd.read_csv('Purchased.csv')
df

       Country  Age  Salary Purchased
0       India    54    3504        No
1     Pakistan   65    3693       yes
2        Nepal   12    3436       yes
3       Bhutan   54    3433        No
4    Indonesia   68    3449       yes
5     Malaysia   76    4341        No
6   Bangladesh   35    4354       yes
7          USA   95    4312        No
8       Canada   95    4425       yes
9    Australia   35    3850       yes
10      German   15    3563        No
11      France   35    3609        No
12   Netherlan   65    3761       yes

In [10]:
indp = df[['Country', 'Age', 'Salary']].values
indp

array([['India ', 54, 3504],
       ['Pakistan', 65, 3693],
       ['Nepal', 12, 3436],
       ['Bhutan', 54, 3433],
       ['Indonesia', 68, 3449],
       ['Malaysia', 76, 4341],
       ['Bangladesh', 35, 4354],
       ['USA', 95, 4312],
       ['Canada', 95, 4425],
       ['Australia', 35, 3850],
       ['German', 15, 3563],
       ['France', 35, 3609],
       ['Netherlan', 65, 3761]], dtype=object)

In [12]:
dpn = df[['Purchased']].values
dpn

array([['No'],
       ['yes'],
       ['yes'],
       ['No'],
       ['yes'],
       ['No'],
       ['yes'],
       ['No'],
       ['yes'],
       ['yes'],
       ['No'],
       ['No'],
       ['yes']], dtype=object)